# Ignore mesh data files (e.g., meshes, electrodes, stimulus sites)
*.vtx       
*.elem       
*.lon        
*.pts        
*.surf       
*.pts_t      
*.roe        
*.trc        
Focal_VT_Patient.m   
Reentrant_VT_Patient.m   
run_simulation_NSR.m 
NSR_LV.mat
NSR_RV.mat
Tester.mlx


