# Ignore the files pertaining to the mesh data (meshes, electrodes and stimulus sites)
# Also ignore the universal patient scripts until they are complete. 

*.vtx
*.elem
*.lon
*.pts
*.surf
*.pts_t
*.roe
*.trc
Focal_VT_Patient.m
Reentrant_VT_Patient.m 
